<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Comestic_Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Comestic_Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="super_container">



        <!-- Header -->

        <header class="header trans_300">
            <!-- Top Nav -->

            <div class="top_nav">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="top_nav_left">Miễn phí giao hàng hoá đơn trên 2 triệu</div>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="top_nav_right">
                                <ul class="top_nav_menu">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main Nav -->

            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="/Home/Index">Halo <span>cosmetic</span></a>
                            </div>
                            <nav class="navbar">
                                <ul class="navbar_menu">
                                    <li><a href="/Home/Index">Trang chủ</a></li>
                                    <li class="dropdown">
                                        <a href="/Product/ProCata" class="dropdown-toggle"
                                           data-toggle="dropdown">Sản phẩm</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">
                                                <ul class="block">
                                                    @for (int i = 0; i < dt.Rows.Count; i++)
                                                    {
                                                        <li class="link_container">
                                                            <a href="/Product/ProCata/@dt.Rows[i][0].ToString()">@dt.Rows[i][1].ToString()</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="/Product/ProbyTH" class="dropdown-toggle"
                                           data-toggle="dropdown">Thương hiệu</a>
                                        <ul class="dropdown-menu container-fluid">
                                            <li class="block-container">

                                                <ul class="block">
                                                    @for (int i = 0; i < dtTH.Rows.Count; i++)
                                                    {
                                                        <li class="link_container">
                                                            <a href="/Product/ProbyTH/@dtTH.Rows[i][0].ToString()">@dtTH.Rows[i][1].ToString()</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>

                                        </ul>
                                    </li>

                                    <li><a href="#">Giới thiệu</a></li>
                                    <li><a href="#">blog</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                                <ul class="navbar_user">
                                    <li>
                                        <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>

                                    </li>
                                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                    <li class="checkout">
                                        <a href="/GioHang/ShowCart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            @*<span id="checkout_items" class="checkout_items">2</span>*@
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">

                    <li class="menu_item"><a href="#">Trang chủ</a></li>
                    <li class="menu_item has-children">
                        <a href="#">
                            Sản phẩm
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            @for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <li><a href="/Product/ProCata/@dt.Rows[i][0].ToString()">@dt.Rows[i][1].ToString()</a></li>
                            }

                        </ul>
                    </li>

                    <li class="menu_item"><a href="#">Khuyến mãi</a></li>
                    <li class="menu_item"><a href="#">Giới thiệu</a></li>
                    <li class="menu_item"><a href="#">blog</a></li>
                    <li class="menu_item"><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>

        <!-- Slider -->
        <!-- Banner -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="banner_category">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner_category">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="banner_category">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody();

        <!-- Quyền lợi cho khách hàng -->

        <div class="benefit">
            <div class="container">
                <div class="row benefit_row">
                    <div class="col-lg-3 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Miễn phí vận chuyển</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Thanh toán khi nhận hàng</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>7 ngày miễn phí trả hàng</h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 benefit_col">
                        <div class="benefit_item d-flex flex-row align-items-center">
                            <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                            <div class="benefit_content">
                                <h6>Mở cửa cả tuần</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blogs -->
        <!-- Bản tin -->

        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                            <h4>Bản tin</h4>
                            <p>Đăng ký nhận bản tin của chúng tôi</p>
                            <p>và được giảm 20% cho lần mua hàng đầu tiên.</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <form action="post">
                            <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                                <input id="newsletter_email" type="email" placeholder="Email của bạn" required="required" data-error="Valid email is required.">
                                <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Quản trị</a></li>
                                <li><a href="#">Liên hệ chúng tôi</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="http://facebook.com/eelcud"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container">
                            <div class="cr">Bản quyền ©2023 Halo Cosmetic</div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
