@model IEnumerable<ShopNuocHoa.Areas.Admin.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Data/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- Main Content -->
<div id="content">


    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h4 class="m-0 font-weight-bold text-primary">Danh sách tất cả sản phẩm</h4>
                <a class="float-lg-right btn btn-primary" href="#">Thêm sản phẩm</a>
                
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="Background: #456bd9">
                                <th style="color:white">
                                    Tên sản phẩm
                                    @*@Html.DisplayNameFor(model => model.tenSP)*@
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.ThuongHieu.tenTH)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.moTa)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.donGia)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.soLuong)
                                </th>
                                <th style="color:white">
                                    @Html.DisplayNameFor(model => model.Anh)
                                </th>
                                <th style="color:white">Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.tenSP)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ThuongHieu.tenTH)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.moTa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.donGia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.soLuong)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Anh)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="col-2">
                                    <p>
                                        <b>@Html.DisplayFor(modelItem => item.tenSP)</b>
                                    </p>

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ThuongHieu.tenTH)
                                </td>
                                <td class="col-sm-3">
                                    @{
                                        if (item.moTa.Length > 150)
                                        {
                                            <span>@item.moTa.Substring(0, 150)....</span>
                                        }
                                        else
                                        {
                                            <span>@item.moTa</span>
                                        }
                                    }

                                </td>
                                <td style="color:red">
                                    @Html.DisplayFor(modelItem => item.donGia)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.soLuong)
                                </td>
                                <td>
                                    <img src="~/Content/images/@Html.DisplayFor(modelItem => item.Anh)" width="100" height="100" />

                                </td>
                                <td style="text-align : center">
                                    <button class="btn btn-primary">Sửa</button>
                                    <button class="btn btn-danger">Xóa</button>
                                </td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
</div>


